body {
    background-color: #eee;
}
a {
    cursor: pointer;
}
.container {
    max-width: 330px;
}
#lobby {
    display: none;
}
#pregame {
    display: none;
}
#game {
    display: none;
}
#hiddeninfo {
    display: none;
}
#quest {
    text-align: center;
}
#quest label {
    display: none
    width: 120px;
}
#quest .active {
    font-weight: bold;
}
.questicon {
    display: none;
}
.active .questicon {
    display: inline;
}
/*#quest input[type="radio"] {
    display: none;
}*/

.evil {
    color: red;
}

.good {
    color: blue;
}

.bold {
    font-weight: bold;
}

li.success {
    color: #ffffff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
